section.clients
  .clients-container
    header.clients-header
      h2.clients__heading.heading Our Beloved Client
      p.clients__text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    ul.clients__list
      li.clients__item LOGO CLIENT 1
      li.clients__item LOGO CLIENT 2
      li.clients__item LOGO CLIENT 3
      li.clients__item LOGO CLIENT 4
      li.clients__item LOGO CLIENT 5
      li.clients__item LOGO CLIENT 6
      li.clients__item LOGO CLIENT 7
      li.clients__item
        a.clients__link More Client
