head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content="Digital Element. Frontend test assignment.")

  <meta property="og:title" content="Digital Element. Frontend test assignment.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://teihden.github.io/d-element-test/">
  <meta property="og:image" content="img/hero-banner.svg">

  title Digital Element. Frontend test assignment

  link(rel="icon" href="favicon.ico" type="image/x-icon" sizes="any")
  link(rel="icon" href="img/favicons/favicon.svg" type="image/svg+xml" sizes="any")
  link(rel="apple-touch-icon" href="apple-touch-icon.png" type="image/png" sizes="180x180")
  link(rel="manifest" href="manifest.webmanifest")

  // переименовать потом на min.css
  link(rel="stylesheet" href="css/styles.css")
