section.modal(data-modal="form-modal")
  .modal__inner(data-modal-inner="form-modal")
    h2.modal__heading.heading.heading--subheading Send us message
    button.modal__button-close(type="reset" aria-label="Close the form window." data-close-button="form-modal")
      svg.modal__cross(aria-label="Company logo.")
        use(href="#cross")
    form.modal__form(action="https://webhook.site/c26d9ccf-9437-410a-91c2-a3738e4c9398" method="POST" novalidate autocomplete="off" data-form="work")
      ul.modal__list
        li.modal__item
          label.modal__label(for="modal-name") Full Name
          input.modal__input#modal-name(type="text" name="name" placeholder="Your Name" data-input="name" data-check="{\"required\":true,\"minLength\":3,\"maxLength\":20}")
          p.modal__alert(data-alert="name")
        li.modal__item
          label.modal__label(for="modal-email") Email
          input.modal__input#modal-email(type="email" name="email" placeholder="Your Email" data-input="email" data-check="{\"required\":true,\"minLength\":6,\"email\":true}")
          p.modal__alert(data-alert="email")
        li.modal__item
          label.modal__label(for="modal-message") Message
          textarea.modal__textarea#modal-message(name="message" placeholder="Your Message" data-input="message" data-check="{\"required\":true}")
          p.modal__alert(data-alert="message")
      button.modal__button-submit.button(type="submit" data-button="submit") Submit
