header.body__header.page-header
  nav.page-header__navigation
    a.page-header__logo(href="no_scroll")
      img.page-header__image(src="img/homepage/logo-header.svg" width="48" height="48" alt="Company logo.")
    button.page-header__button(type="button" aria-label="Open menu.")
