header.page-body__header.page-header
  nav.page-header__navigation
    a.page-header__logo-link(href="#no_scroll")
      svg.page-header__logo-image(aria-label="Company logo.")
        use(href="#logo")
    button.page-header__button.menu-button(type="button" aria-label="Open menu.")
      span.menu-button__lines
