footer.page-footer
  .page-footer__container
    h2.visually-hidden Contacts and site navigation
    .page-footer__navigation
      .page-footer__nav-block.page-footer__nav-block--company.company
        a.company__logo-link.link(href="#no_scroll")
          img.company__logo(src="img/homepage/logo-footer.svg" width="48" height="48" alt="Company logo.")
          span.company__name Afrianska
        ul.company__list
          li.company__item.company__item--address Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          li.company__item.company__item--phone
            a.company__link.link(href="tel:+6281273134321") +62-812-7313-4321
          li.company__item.company__item--email
            a.company__link.link(href="email:hello.afrian@gmail.com") hello.afrian@gmail.com
      .page-footer__nav-block.page-footer__nav-block--about
        h3.page-footer__subheading.heading.heading--subheading About US
        ul.page-footer__list
          li.page-footer__item
            a.page-footer__link About
          li.page-footer__item
            a.page-footer__link What We Do
          li.page-footer__item
            a.page-footer__link Project
          li.page-footer__item
            a.page-footer__link How It Work With Us
      .page-footer__nav-block.page-footer__nav-block--follow
        h3.page-footer__subheading.heading.heading--subheading Follow US
        ul.page-footer__list
          li.page-footer__item
            a.page-footer__link Instagram
          li.page-footer__item
            a.page-footer__link Facebook
          li.page-footer__item
            a.page-footer__link LinkedIn
          li.page-footer__item
            a.page-footer__link Youtube
    p.page-footer__copyright.text 2019 © Afrianska. All rights reserved.
