section.work
  .work__container
    .work__content
      h2.work__heading.heading Intersted to work with our team?
      p.work-text.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .work__popup
      button.work__button.button(type="button") Let’s Talk
      p.work__popup-text
