.button {
  border: 0;
  border-radius: 10px;

  background-color: var(--picton-blue);
  color: var(--white);

  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: capitalize;

  cursor: pointer;
  user-select: none;

  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: background-color, box-shadow;

  will-change: background-color, box-shadow;

  &:hover {
    background-color: var(--dark-cyan-blue);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--dark-cyan-blue);
  }

  &:active {
    color: rgba(var(--white-rgba) 0.3);
  }

  &:disabled {
    background-color: var(--titanium);
    color: var(--white);
    cursor: not-allowed;
  }
}
