.button {
  border: 0;
  border-radius: 10px;

  background-color: $picton-blue;
  color: $white;

  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: capitalize;

  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    background-color: $dark-cyan-blue;
  }

  &:focus {
    background-color: $dark-cyan-blue;
    outline: $dark-cyan-blue;
  }

  &:active {
    background-color: $dark-cyan-blue;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $titanium;
    cursor: default;
  }
}
