.catalog {
  padding: 82px 30px 81px;

  @media (min-width: $tablet-width) {
    padding: 122px 80px 121px;
  }

  @media (min-width: $desktop-width) {
    padding: 192px 80px 211px;
  }
}

.catalog__container {
  position: relative;

  max-width: $max-container-width;
  margin: 0 auto;
  padding: 0;

  @media (min-width: calc($tablet-width + 200px)) {
    padding: 0 0 0 81px;
  }
}


.catalog__heading {
  max-width: 360px;
  margin: 0 0 40px;
  color: $dark-state-blue;

  @media (min-width: calc($tablet-width + 200px)) {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
  }
}

.catalog__list {
  @include list-default;

  display: grid;
  grid-template-columns: auto;
  gap: 50px;

  @media (min-width: $tablet-width) {
    gap: 70px;
  }

  @media (min-width: calc($tablet-width + 200px)) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
}
