.clients {
  padding: 46px 30px 64px;
  background-color: $picton-blue;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 76px 80px 94px;
    border-radius: 200px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 96px 80px 124px;
  }
}

.clients-container {
  max-width: $max-container-width;
  margin: 0 auto;
}

.clients-header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;

  max-width: 860px;
  margin: 0 0 70px;

  @media (min-width: $tablet-width) {
    margin: 0 0 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 111px;
  }
}

.clients__heading {
  max-width: 230px;
  margin: 0;
}

.clients__text {
  max-width: 540px;
  margin: 0;
}

.clients__list {
  @include list-default;

  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 1px;

    background-color: $picton-blue;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;

    width: 1px;
    height: 100%;

    background-color: $picton-blue;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  }
}

.clients__item {
  display: grid;
  place-items: center;
  padding: 30px;

  min-height: 128px;
  border-right: 1px solid color.adjust($white, $alpha: -0.6);
  border-bottom: 1px solid color.adjust($white, $alpha: -0.6);

  background-color: $picton-blue;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  &:last-child {
    background-color: color.adjust($dark-cyan-blue, $alpha: -0.8);
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  line-height: 46px;
  }
}

.clients__link {
  display: grid;
  place-items: center;

  width: 100%;
  height: 100%;
}
