.clients {
  padding: 46px 30px 64px;
  background-color: var(--picton-blue);
  color: var(--white);

  @media (min-width: 700px) {
    padding: 76px 80px 94px;
    border-radius: 200px 0 0;
  }

  @media (min-width: 1200px) {
    padding: 96px 80px 124px;
  }
}

.clients-container {
  max-width: var(--max-container-width);
  margin: 0 auto;
}

.clients-header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;

  max-width: 860px;
  margin: 0 0 70px;

  @media (min-width: 700px) {
    margin: 0 0 90px;
  }

  @media (min-width: 1200px) {
    margin: 0 0 111px;
  }
}

.clients__heading {
  max-width: 230px;
  margin: 0;
}

.clients__text {
  max-width: 540px;
  margin: 0;
}

.clients__list {
  margin: 0;
  padding: 0;
  list-style: none;

  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 1px;

    background-color: var(--picton-blue);
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;

    width: 1px;
    height: 100%;

    background-color: var(--picton-blue);
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  }
}

.clients__item {
  display: grid;
  place-items: center;

  min-height: 128px;
  padding: 30px;
  border-right: 1px solid rgba(var(--white-rgba), 0.4);
  border-bottom: 1px solid rgba(var(--white-rgba), 0.4);

  background-color: var(--picton-blue);

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  &:last-child {
    padding: 0;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
    line-height: 46px;
  }
}

.clients__link {
  display: grid;
  place-items: center;
  background-color: rgba(var(--dark-cyan-blue-rgba), 0.2);
  padding: 30px;
  color: var(--white);
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease-in-out;
  will-change: background-color;

  &:hover {
    background-color: var(--nocturne);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    background-color: var(--nocturne);
  }

  &:active {
    color: rgba(var(--white-rgba), 0.6);
  }
}
