.company__logo-image {
  display: block;

  width: 48px;
  height: 48px;

  color: var(--platonic-blue);

  transition: color 0.3s ease-in-out;

  will-change: color;
}

.company__name {
  color: var(--white);

  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.03em;
}

.company__logo-link {
  display: flex;
  gap: 15px;
  align-items: start;

  margin: 0 0 31px;

  &:hover {
    .company__logo-image {
      color: var(--dark-cyan-blue);
    }

  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--white);
  }

  &:active {
    opacity: 0.6;
  }
}

.company__list {
  display: flex;
  flex-direction: column;
  row-gap: 21px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.company__item {
  display: flex;
  letter-spacing: 0.05em;
  column-gap: 16px;

  &--address {
    &::before {
      content: "A.";
      display: block;

      width: 19px;
      height: 26px;
    }
  }

  &--phone {
    &::before {
      content: "T.";
      display: block;

      width: 19px;
      height: 26px;
    }
  }

  &--email {
    &::before {
      content: "E";
      display: block;

      width: 19px;
      height: 26px;
    }
  }
}

.company__link {
  letter-spacing: 0.05em;
}

