.hero {
  position: relative;
  padding: 100px 30px 56px;
  background-color: transparent;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 100%;

    background-image: $blue-gradient;

    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    padding: 100px 30px 56px 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 23px 56px 212px;
  }
}

.hero-container {
  max-width: 1131px;
  margin: 0 auto;
  padding: 39px 0 34px;

  @media (min-width: calc($tablet-width + 100px)) {
    padding: 39px 0 54px;

    background-image: url("../img/homepage/hero-banner.svg");
    background-position: right 1px bottom 20px;
    background-size: 50% auto;
    background-repeat: no-repeat;
  }

  @media (min-width: calc($tablet-width + 270px)) {
    padding: 49px 0 94px;
    background-position: right 1px center;
  }

  @media (min-width: $desktop-width) {
    padding: 89px 0 134px;
    background-position: right 1px top -1px;
    background-size: 60.9% auto;
  }
}

.hero__heading {
  max-width: 520px;
  margin: 0 0 32px;
  color: $dark-cyan-blue;
}

.hero-text {
  max-width: 425px;
  margin: 0 0 75px 1px;
}

.hero__button {
  min-width: 220px;
  max-width: 340px;
  min-height: 56px;
  margin: 0 0 0 1px;
  padding: 15px;

  box-shadow: $button-shadow;
}
