.hero {
  position: relative;
  padding: 100px 30px 56px 30px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 100px 30px 56px 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 23px 56px 212px;
  }

  &::after {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-image: $blue-gradient;
    opacity: 0.2;
  }
}

.hero-container {
  margin: 0 auto;
  max-width: 1131px;
  padding: 39px 0 34px;

  @media (min-width: calc($tablet-width + 100px)) {
    background-image: url("../img/homepage/hero-banner.svg");
    background-size: 50% auto;
    background-position: right 1px bottom 20px;
    background-repeat: no-repeat;
    padding: 39px 0 54px;
  }

  @media (min-width: calc($tablet-width + 270px)) {
    padding: 49px 0 94px;
    background-position: right 1px center;
  }

  @media (min-width: $desktop-width) {
    background-size: 60.9% auto;
    background-position: right 1px top -1px;
    padding: 89px 0 134px;
  }
}

.hero__heading {
  color: $dark-cyan-blue;
  margin: 0 0 32px;
  max-width: 520px;
}

.hero-text {
  margin: 0 0 75px 1px;
  max-width: 425px;
}

.hero__button {
  min-height: 56px;
  min-width: 220px;
  padding: 15px;
  margin: 0 0 0 1px;
  box-shadow: $button-shadow;
}
