.link {
  position: relative;
  color: inherit;

  &::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    bottom: -4px;
    left: 50%;
    transition:
      width 0.3s ease-in-out,
      left 0.3s ease-in-out;
    will-change: width, left;
  }

  &:hover {
    &::before {
      width: 100%;
      left: 0;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--white);
  }

  &:active {
    color: rgba(var(--white-rgba), 0.6);

    &::before {
      background-color: rgba(var(--white-rgba), 0.6);
    }
  }
}
