.link {
  position: relative;
  color: inherit;

  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;

    width: 0;
    height: 2px;

    background-color: var(--white);

    transition:
      width 0.3s ease-in-out,
      left 0.3s ease-in-out;

    will-change: width, left;
  }

  &:hover {
    &::before {
      left: 0;
      width: 100%;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--white);
  }

  &:active {
    color: rgb(var(--white-rgba) 0.6);

    &::before {
      background-color: rgb(var(--white-rgba) 0.6);
    }
  }
}
