// stylelint-disable no-descending-specificity
.menu-button__lines {
  position: relative;
  background-color: var(--nocturne);
  height: 3px;
  width: 24px;
  margin: -1px 0 0 0;
  transition: background-color 0.3s ease-in-out;
  will-change: background-color;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -7px;
    left: 0;
    background-color: var(--nocturne);
    transition-property: top, transform, background-color;
    transition-duration: 0.3s;
    transition-delay: 0.3s, 0, 0;
    transition-timing-function: ease-in-out;
    will-change: top, transform, background-color;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: -7px;
    left: 0;
    background-color: var(--nocturne);
    transition-property: bottom, transform, background-color;
    transition-duration: 0.3s;
    transition-delay: 0.3s, 0, 0;
    transition-timing-function: ease-in-out;
    will-change: top, transform, background-color;
  }
}

.menu-button {
  display: grid;
  place-items: center;
  background-color: transparent;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;

  &:hover {
    outline: none;

    .menu-button__lines {
      background-color: var(--dark-cyan-blue);

      &::before,
      &::after {
        background-color: var(--dark-cyan-blue);
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--dark-cyan-blue);
  }

  &:active {
    opacity: 0.6;
  }

  &--active {
    .menu-button__lines {
      background-color: transparent;

      &::before {
        transition-delay: 0s, 0.3s, 0.3s;
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        transition-delay: 0s, 0.3s, 0.3s;
        bottom: 0;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      .menu-button__lines {
        background-color: transparent;
      }
    }
  }
}


