.modal {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: grid;
  place-items: center;

  background-color: rgb(var(--white-rgba) 0.9);

  opacity: 0;
  cursor: pointer;
  pointer-events: none;

  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out;
  transform: scale(1.15);

  will-change: transform, opacity;

  &--active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
}

.modal__inner {
  position: relative;
  overflow: auto;

  width: 100%;
  min-width: var(--min-container-width);
  max-width: 540px;
  max-height: 90vh;
  padding: 30px;

  background-color: var(--white);
  color: var(--dark-cyan-blue);
  box-shadow: var(--form-shadow);

  cursor: default;

  @media (width >= 700px) {
    padding: 56px;
  }
}

.modal__heading {
  margin: 0 0 30px;
  padding: 0 50px 0 0;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (width >= 700px) {
    margin: 0 0 48px;
  }
}

.modal__button-close {
  position: absolute;
  top: 54px;
  right: 53px;
  display: grid;
  place-items: center;

  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;

  background-color: transparent;
  color: var(--nocturne);

  cursor: pointer;
  user-select: none;

  transition: color 0.3s ease-in-out;

  will-change: color;

  &:hover {
    color: var(--dark-cyan-blue);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--dark-cyan-blue);
  }

  &:active {
    opacity: 0.6;
  }
}

.modal__cross {
  width: 23px;
  height: 23px;
}

.modal__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: start;

  margin: 0;
  margin: 0 0 30px;
  padding: 0;

  list-style: none;

  @media (width >= 700px) {
    margin: 0 0 49px;
  }
}

.modal__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.modal__alert {
  display: block;

  width: 100%;
  min-height: 18px;
  margin: -4px 0 0;

  color: var(--error);

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;

  opacity: 0.8;
}

.modal__label {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;

  opacity: 0.8;
}

.modal__input {
  padding: 10px 15px;
  border: 1px solid rgb(var(--nocturne-rgba) 0.4);
  border-radius: 10px;

  background-color: var(--white);
  color: var(--dark-cyan-blue);

  font-weight: 300;
  font-size: 16px;
  font-family: inherit;
  line-height: 30px;
  letter-spacing: 0.04em;

  appearance: textfield;

  &::placeholder {
    color: var(--dark-cyan-blue);

    font-weight: 300;
    font-size: 16px;
    font-family: inherit;
    line-height: 30px;
    letter-spacing: 0.04em;

    opacity: 0.6;
  }

  &:focus {
    outline-color: var(--dark-cyan-blue);
  }

  &:active {
    outline: none;
  }

  &:disabled {
    background-color: var(--white);
    opacity: 0.3;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.3;
    }
  }

  @media (width >= 700px) {
    padding: 20px 25px;
  }
}

.modal__textarea {
  display: block;

  height: 144px;
  padding: 10px 15px;
  border: 1px solid rgb(var(--nocturne-rgba) 0.4);
  border-radius: 10px;

  color: var(--dark-cyan-blue);

  font-weight: 300;
  font-size: 16px;
  font-family: inherit;
  line-height: 30px;
  letter-spacing: 0.04em;

  resize: none;

  &::placeholder {
    color: var(--dark-cyan-blue);

    font-weight: 300;
    font-size: 16px;
    font-family: inherit;
    line-height: 30px;
    letter-spacing: 0.04em;

    opacity: 0.6;
  }

  &:focus {
    outline-color: var(--dark-cyan-blue);
  }

  @media (width >= 700px) {
    padding: 20px 25px;
  }
}

.modal__button-submit {
  width: 100%;
  padding: 23px;

  box-shadow: var(--button-shadow);

  text-transform: uppercase;

  &:hover {
    box-shadow: var(--button-shadow-hover);
  }
}

.modal__field--invalid {
  outline: 1px solid var(--error);
}
