.page-footer {
  position: relative;

  padding: 0 30px;

  background-color: var(--picton-blue);
  color: var(--white);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #316099;

    @media (width >= 700px) {
      left: -96px;
    }
  }

  @media (width >= 700px) {
    padding: 0 80px;
  }

  @media (width >= 1200px) {
    padding: 0 80px;
  }
}

.page-footer__container {
  position: relative;
  z-index: 10;

  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 47px 30px 34px 0;

  @media (width >= 700px) {
    padding: 77px 60px 44px 0;
  }

  @media (width >= 1200px) {
    padding: 97px 80px 64px 0;
  }
}

.page-footer__navigation {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;

  column-gap: 30px;
}

.page-footer__nav-block {
  padding: 0 10px 0 0;

  &--company {
    width: 250px;
    margin: 0;

    @media (width >= 700px) {
      width: 300px;
      margin: 0 70px 0 0;
    }
  }

  &--about {
    width: 100%;
    margin: 0;

    @media (width >= 850px) {
      width: 200px;
      margin: 0 10px 0 0;
    }
  }

  &--follow {
    width: 200px;
    margin: 0;
  }
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__link {
  letter-spacing: 0.05em;
}

.page-footer__subheading {
  margin: 0 0 32px;
}

.page-footer__copyright {
  margin-top: 64px;
  opacity: 0.4;
}
