.page-header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.page-header__logo {
  display: block;
}

.page-header__image {
  display: block;
}

.page-header__button {
  position: relative;
  @include button-default;
  width: 48px;
  height: 48px;
  background-image: url("../img/icons/menu.svg");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 -7px 0 0;
}
