.page-header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
}

.page-header__logo {
  display: block;
}

.page-header__image {
  display: block;
}

.page-header__button {
  @include button-default;

  position: relative;

  width: 48px;
  height: 48px;
  margin: 0 -7px 0 0;

  background-image: url("../img/icons/stack.svg#menu");
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
