.page-body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  min-width: $min-container-width;
  min-height: 100%;
  margin: 0 auto;

  background-color: $white;
  color: $dark-cyan-blue;

  font-weight: 400;
  font-size: 14px;
  font-family: Gilroy, Arial, sans-serif;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.page-body__header {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
