.work {
  position: relative;

  padding: 0 30px;

  background-color: var(--picton-blue);
  color: var(--white);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #316099;

    @media (min-width: 700px) {
      position: absolute;
      top: 0;
      left: -96px;

      width: 100%;
      height: 100%;
      border-radius: 0 200px 0 0;

      background: #316099;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;

    width: 100%;
    height: 1px;

    background-color: #FFF;

    opacity: 0.4;

    @media (min-width: 700px) {
      display: none;
    }
  }

 @media (min-width: 700px) {
    padding: 0 80px;
  }

  @media (min-width: 1200px) {
    padding: 0 80px;
  }
}

.work__container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 41px 30px 48px 0;

  &::after {
    content: "";
    position: absolute;
    right: 80px;
    bottom: 0;
    display: none;

    width: 100vw;
    height: 1px;

    background-color: #FFF;

    opacity: 0.4;

    @media (min-width: 700px) {
      display: block;
    }
  }

  @media (min-width: 700px) {
    padding: 71px 60px 78px 0;
  }

  @media (min-width: 1200px) {
    padding: 91px 80px 98px 0;
  }
}

.work__content {
  max-width: 460px;
  margin: 0;

  @media (min-width: 400px) {
    margin: 0 30px 0 0;
  }
}

.work__heading {
  max-width: 320px;
  margin: 0 0 32px;
}

.work-text {
  margin: 0;
}

.work__button {
  align-self: start;

  min-width: 220px;
  max-width: 340px;
  min-height: 56px;
  padding: 15px;

  box-shadow: var(--button-shadow);

  &:focus-visible {
    outline: 1px solid var(--white);
  }
}

.work__popup {
  position: relative;
  align-self: start;
  margin: 40px 1px 0 0;

  @media (min-width: 891px) {
    margin: 74px 1px 0 0;
  }
}

.work__popup-text {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 40%;
  z-index: 10;

  width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 20px;
  border-radius: 10px;

  background-color: var(--white);
  color: var(--dark-cyan-blue);

  text-align: center;

  opacity: 0;

  transition: opacity 0.2s ease-out;

  &::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 25%;

    border-width: 6px 7px 0;
    border-style: solid;
    border-color: var(--white) transparent transparent;
  }
}
