doctype html
html(lang="en")
  include ../includes/head.pug

  body.page-body
    .visually-hidden
      <!-- inject:svg -->
      <!-- endinject -->
    include ../includes/page-header.pug

    main
      include ../includes/hero.pug
      include ../includes/catalog.pug
      include ../includes/clients.pug
      include ../includes/work.pug

    include ../includes/page-footer.pug
    include ../includes/modal.pug
    include ../includes/success-message.pug
    include ../includes/failure-message.pug
