@mixin list-default {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-default {
  display: block;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  background-color: transparent;
  color: inherit;
  user-select: none;
  cursor: pointer;
}
