.heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.05em;

  @media (width >= 700px) {
    font-size: 36px;
    line-height: 46px;
  }
}

.heading--main {
  font-weight: 700;
  font-size: 42px;
  font-family: Galien, "Times New Roman", serif;
  line-height: 51px;
  letter-spacing: 0.04em;

  @media (width >= 700px) {
    font-size: 64px;
    line-height: 74px;
  }
}

.heading--subheading {
  font-size: 18px;
  line-height: 24px;

  @media (width >= 700px) {
    font-size: 20px;
    line-height: 30px;
  }
}
