.illustration {
  width: 687px;
  height: 613px;
}

.illustration__background {
  position: absolute;
  top: 52px;
  right: 20px;
  z-index: 20;

  width: 648px;
  height: 490px;
}

.illustration__house {
  position: absolute;
  top: 72px;
  right: 97px;
  z-index: 30;

  width: 188px;
  height: 188px;

  animation: house 11s linear infinite;
}

@keyframes house {
  0% {
    transform: translate(0) rotate(0) scale(1);
  }

  25% {
    transform: translate(8px, -8px) rotate(4deg) scale(0.9);
  }

  50% {
    transform: translate(0, -16px) rotate(0deg) scale(1);
  }

  75% {
    transform: translate(-8px, -8px) rotate(-4deg) scale(0.9);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(1);
  }
}

.illustration__icons {
  position: absolute;
  top: -8px;
  right: 46px;
  z-index: 30;

  width: 292px;
  height: 139px;

  animation: icons 14s linear infinite;
}

@keyframes icons {
  0% {
    transform: translate(0) rotate(0) scale(1);
  }

  25% {
    transform: translate(6px, -6px) rotate(4deg) scale(0.8);
  }

  50% {
    transform: translate(0, -12px) rotate(0deg) scale(1);
  }

  75% {
    transform: translate(-6px, -6px) rotate(-4deg) scale(0.8);
  }

  100% {
    transform: translate(0) rotate(0deg) scale(1);
  }
}

.illustration__man {
  position: absolute;
  bottom: 74px;
  left: 78px;
  z-index: 30;

  width: 137px;
  height: 232px;

  animation: man 11s linear infinite;
}

@keyframes man {
  0% {
    transform: translate(0) rotate(0);
  }

  25% {
    transform: translate(8px, -8px) rotate(4deg);
  }

  50% {
    transform: translate(0, -16px) rotate(0deg);
  }

  75% {
    transform: translate(-8px, -8px) rotate(-4deg);
  }

  100% {
    transform: translate(0) rotate(0deg);
  }
}

.illustration__platform {
  position: absolute;
  bottom: 173px;
  left: 173px;
  z-index: 40;

  width: 280px;
  height: 190px;

  animation: platform 11s linear infinite;
}

@keyframes platform {
  0% {
    transform: translate(0) rotate(0);
  }

  25% {
    transform: translate(6px, -6px) rotate(3deg);
  }

  50% {
    transform: translate(0, -12px) rotate(0deg);
  }

  75% {
    transform: translate(-6px, -6px) rotate(-3deg);
  }

  100% {
    transform: translate(0) rotate(0deg);
  }
}

.illustration__shadow {
  position: absolute;
  bottom: 1px;
  left: -1px;
  z-index: 10;

  width: 688px;
  height: 580px;

  animation: shadow 7s linear infinite;
}

@keyframes shadow {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-8px, -8px);;
  }

  50% {
    transform: translate(-16px, 0);
  }

  75% {
    transform: translate(-8px, 8px);
  }

  100% {
    transform: translate(0);
  }
}

.illustration__woman {
  position: absolute;
  right: 9px;
  bottom: 199px;
  z-index: 40;

  width: 179px;
  height: 214px;

  animation: woman 10s linear infinite;
}

@keyframes woman {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-10px, -10px);
  }

  50% {
    transform: translate(-20px, 0);
  }

  75% {
    transform: translate(-10px, 10px);
  }

  100% {
    transform: translate(0);
  }
}
