.message__inner {
  position: relative;
  overflow: auto;

  width: 100%;
  min-width: var(--min-container-width);
  height: 120px;
  max-height: 90vh;
  padding: 30px;

  background-color: transparent;

  cursor: default;

  transition: background-color 0.3s ease-in-out 0.3s;

  &--success {
    box-shadow: var( --message-success-shadow);
  }

  &--failure {
    box-shadow: var( --message-failure-shadow);
  }
}

.message__text {
  display: grid;
  place-items: center;

  height: 100%;

  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

  opacity: 0;

  transition: opacity 0.3s ease-in-out 0.6s;

  &--success {
    color: var(--white);
  }

  &--failure {
    color: var(--error);
  }

  @media (width <= 700px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.message {
  position: fixed;
  inset: 0;
  z-index: 60;
  display: grid;
  place-items: center;

  background-color: rgba(var(--white-rgba) 0.9);

  opacity: 0;
  cursor: pointer;
  pointer-events: none;

  transition: opacity 0.3s ease-in-out;
  &--active {
    opacity: 1;
    pointer-events: auto;

    transition: opacity 0.3s ease-in-out;

    .message__inner--success {
      background-color: var(--picton-blue);
    }

    .message__inner--failure {
      background-color: var(--white);
    }

    .message__text {
      opacity: 1;
    }
  }
}
