.page-body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  min-width: var(--min-container-width);
  min-height: 100%;
  margin: 0 auto;

  background-color: var(--white);
  color: var(--dark-cyan-blue);

  font: 400 16px/21px Gilroy, Arial, sans-serif;

  @media (width >= 700px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.page-body__header {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
